.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }


.parent {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-auto-rows: minmax(400px,auto);
    grid-gap: 1em;
 
    }
.parent > div{
    background: #eee;
    
}
.parent > div:nth-child(odd){
    background: #ddd;
}
p{
  
  font-size: 12px;
  color:#9ca4ab;
}


/*border to see*/
#slides {
	overflow:hidden;
  position: fixed;
  max-width: 44%;
  max-height: 42%;
	
  border:1px solid #ccc;
  
}


#slides ul {
	position: relative;
  list-style:none;
  width:100%;
	
}
#slides li {
  padding: 4px;
  display: inline-flex;
  
}

#slides li img {
  /*direction: ltr;*/
  width: auto;
  height: 180px;
  border-radius: 10px;
}












/* KOD ISPOD OVOGA JE SAMO ZA FUNKCIONALNOST*/



#buttons {
  color: red;
}




#buttons a {
	display:block; 
	width:100px; 
	height:100px;

	float:left;
	outline:0;
}

a#prev {
	background-color: teal;
}

a#prev:hover {
	background-color: chartreuse;
}

a#next {
	background:blue;
}

a#next:hover {
	background:red;
}

.clear {clear:both}

