html, body
{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    background-color: #d4d2d4;
}

.divMain {
    
    position: relative;
    max-width: 55%;
    min-height: 100%;
    max-height: 1500px;

    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color:  white;

}

.divFirst {
    position: relative;
    width: 100%;

}

.coverPicture {
    position: relative;
    width: 100%;
}

.myPicture { 
    position : absolute;
    top: 80%;
    left: 41%;
    height: 180px;
    width:  180px;
}
.editPicture{
    position : absolute;
    top: 80.5%;
    left: 55%;
    height: 30px;
    width:  30px;

}
.topEditPicture{
    position : absolute;
    top: 1%;
    left: 96%;
    height: 30px;
    width:  30px;

}

.table tbody{
    text-align:  center;
}

/*Message*/
.divMessage{
    margin-left: 7%;
    margin-right: 5% ;
}

.myButton {
	box-shadow: 0px 0px 14px -9px #3dc21b;
	background-color:#55a95a;
	border-radius:4px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 15px;
	padding:8px 60px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
}
.myButton:hover {
	background-color:#3e8f42;
}
.myButton:active {
	position:relative;
	top:1px;
}

.messageForm {
    position: relative;
    width: 900px;
    height: 180px;
}

.setTextBox {
    position: relative;
    margin:auto;
    margin-left: 7%;

}
.setSmallText {
    position: relative;
    margin-left: 60%;

}


.messageOutput  li {
    margin-left: 7%;
    list-style: none;
    border-bottom: 1px solid #b7b8bb;
    size:30px;
    margin-right : 5%;
    margin-left: 5%;

}
.messageOutput  a {
    color:green;
    margin-left: 43%;

}

.messageOutputPorukeT  {
   padding-top: 15%;
 
}

.addresOfProfil  a{
    margin-left: 7%;
    color:green;
    
}

.messageOutputPoruke  li {
    margin-left: 7%;
    list-style: none;
    border-bottom: 1px solid #b7b8bb;
    size:30px;
    margin-right : 5%;
    margin-left: 5%;

}
.divMessage {
    padding-bottom: -20%;
}