html, body
{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    background-color: #d4d2d4;
}


.clickable {
    cursor: pointer;
}
.center{
    position: relative;
    width: 400px;
    height: 350px;
    text-align: center;
    padding-top: 10px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    background-color:  white;
    

}
.textcenter{
    text-align: center;
}