@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    src: local('VT323'), local('VT323-Regular'), url(http://themes.googleusercontent.com/static/fonts/vt323/v4/CfvjE7QXPaQqLo02SkpIgA.ttf) format('truetype');
  }


body {
    background: #333;
    color: #fff;
}
.cal{
    height: 600px;
    min-width: 576px;
}

.operations{
    border-radius: 8px;
    color: white;
    background-color:#343a40;
}

.numbers{
    border-radius: 8px;
    color: white;
    background-color:#6c757d;
}

.equal{
    
    border-radius: 8px; 
    color: white;
    background-color:#dc3545;
}


.screen{
    width: 70px;
    height: 100px;

    
}
.box{
    height: 150px;
    background-color: #eb4644;
   
}


.fontVT323{
    font-family: VT323;
    color: #0f72ec;
    font-size: 28px;

}

.operations:hover {background: #c2c1c2;}
.numbers:hover {background: #c2c1c2;}

