
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    text-decoration: none;
  }

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
 
}

/*---------------------------*/
/*Moj css kod za stranicu*/
/*---------------------------*/

.left_div ul{
    list-style-type: none;
}

.left_div .mojhr{
    margin-left: 15px;
    color:  #262c36;
    border-bottom-style: solid;
    border-width: 2px;
}
.left_div {
    float:left;
    display: block;
    background-color: #333b46;
    width: 230px;
    height: 100%;
}

.left_div .navbar-logo{
    display: block;
    color:#c0c4c3;
    padding-left: 20px;
    border-bottom-style: solid;
    border-bottom-color: #262c36;
    border-width: 2px;
}

.left_div .navbar-manu a{
    width: 88.7%;
    display: block;
    color: #B8BBBF;
    margin: 0;
    padding: 15px 2px 15px 24px; 
}

.left_div .navbar-manu a:hover {
    background-color: #444e5c;
  }
.left_div .navbar-icon {
    margin: 0 0 -4px 0;
    padding-right: 7px;
  }
.left_div h1{
   font-size: 22px;
  display: inline-block;
  font-weight: bold;
  margin: 17px 0 17px 0;
}
.left_div h2{
    display: inline-block;
    color:#c0c4c3;
}
.classroom{
    width: 15px;
    height: 15px;
}
.left_div h2{
    padding-left: 7px;
}

/*---------RIGHT---------------------*/
/*---------RIGHT---------------------*/
/*---------RIGHT---------------------*/

.right_div {
    float:left;
    display: block;
    background-color: #447cac;
    width: 230px;
    height: 100%;
}
.right_div ul {
    list-style: none;
}
.right_div .godina{
    display: block;
    color:#c0c4c3;
    padding-left: 20px;
    border-bottom-style: solid;
    border-bottom-color: #3c74a7;
    border-width: 2px;
}
.right_div h1{
    margin: 17px 0 17px 0;
    margin-left: 2px;
    font-size: 22px;
    color:white;
    display:inline-block;
}
.right_div .navbar-filter{
    display: block;
    text-align: right;
}
.right_div .navbar-filter p {
    font-size: 60%;
    color: #7CB4CC;
    margin: 0;
    padding-bottom: 5px;
    display: inline-block;
  }
.right_div .navbar-filter .resizePicture {
    width: 10px;
    height: 10px;
    margin: 0 0 -2px 0;
    padding: 0 10px 0 0;
    display: inline-block;
  }
  .right_div .navbar-border{
    display: block;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #3E71A2;
  }
.right_div .navbar-manu {
    display: block;
}
.right_div .navbar-manu h2{
    font-size: 90%;
    margin: 9px 0 0 5px;
    padding: 10px 0 0 25px;
    color:white;
}
.right_div .navbar-manu p {
    font-size: 60%;
    color: #7CB4CC;
    margin: 5px 0 3px 0;
    padding: 3px 0 12px 30px;
  }
.right_div .navbar-border{
    display: block;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #3E71A2;
  }

/*---------CENTER---------------------*/
/*---------CENTER---------------------*/
.center_div{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 1%;
    display: inline-block;
    background-color: white;
    max-width: 980px;
    min-height: 400px;
}
.head{
    width: 100%;
    height: 13%;
    background-color: white;
    margin: 0 auto;
}
.head h1{ 
    padding-top: 60px;
    font-size: 27px;
    color: #5e5d62;
}
.head button{
    color: white;
    font-size: 72%;
    background-color: #EF464A;
    border: none;
    border-radius: 5px;
    float: right;
    margin: -20px auto;
    width: 70px;
    height: 30px;
    
  }
.table1{
    width: 100%;
    background-color: #f2f2f2;
    border-top: 2px solid #dfdfdf;
    border-bottom: 2px solid #dfdfdf;
}

.table1 .midhr h3{
    border-bottom: 2px solid #dfdfdf;
    padding-top: 3px;
    padding-bottom: 15px;
    padding-left: 40px;
}

.table1 .midhr2 h3{
    padding-top: 3px;
    padding-bottom: 20px;
    padding-left: 40px;
}

.table1 th {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
  }

.table1 th h3{
    font-size: 68%;
    color: #999690a4;
    padding-top: 5px;
    padding-left: 40px;

}
/*sadrzaj*/
.table1 td{
    text-align: left;
}
/*sadrzaj*/
.table1 td h3{
    font-size: 78%;
    color: #686e87;
    padding: 5px 0 0 40px;
  
}
/*BOTTOM TABLE*/
.bottom-table{
    width: 100%;
    margin-top: 40px;
}
.bottom-table img{
    width: 15px;
    height: 15px;
}
.bottom-table th h3{
    font-size: 76%;
    color: #c9cad2;
    margin-bottom: 12px;
    text-align: left;

}
.bottom-table td h3{
    font-size: 76%;
    color: #908f97;
    margin-bottom: 12px;
    text-align: left;
    padding-left: 7px;
}
.bottom-table td {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
  }
.bottom-table th {
    border-bottom: 1px solid #ececec;
  }
.moveIcon{
    padding-left: 10px;
}
